.card{
    width: 380px;
    height: 525px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px 0 var(--dark-blue-20);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 48px 48px;
    position: relative;

    @media (width <= 600px) {
        padding: 0 15px 15px;
        height: 420px;
        width: unset;
    }

    &__content {
        width: 280px;
        height: 241px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 56px;

        @media (width <= 600px) {
            margin-top: 0;
            height: unset;
            padding-bottom: 20px;
        }
    }

    &__img {
        margin-right: 15%;

        @media (width <= 600px) {
                width: 180px;
                padding-top: 20px;
                margin-bottom: 20px;
        }

        &--absolut {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-48%);

            @media (width <= 600px) {
                width: 225px;
                top: -40px;
            }
        }
    }

    &__title {
        color: var(--dark-blue);
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 2px;

        @media (width <= 600px) {
            font-size: 16px;
            letter-spacing: 0;
            text-align: center;
        }
    }

    &__subtitle {
        line-height: 26px;
        color: var(--light-grey);
        font-family: Gilroy-Regular, serif;

        @media (width <= 600px) {
            font-size: 14px;
            text-align: center;
        }
    }

    &__btn {
        padding-top: 16px;
        font-size: 14px;
        letter-spacing: 1px;
        color: var(--blue);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 127px;
        height: 30px;
        font-family: Gilroy-SemiBold,serif;
        cursor: pointer;

        @media (width <= 600px) {
            margin: 0 auto;
            width: 110px;
        }
    }
}
