@import "normalize.css";
@font-face {
  font-family: Galien;
  src: url("../asset/fonts/Galien-Bold.ttf");
}
@font-face {
  font-family: Gilroy-Regular;
  src: url("../asset/fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: Gilroy-SemiBold;
  src: url("../asset/fonts/Gilroy-SemiBold.ttf");
}
.body {
  width: 100vw;
}
.body__modal-opened {
  overflow: hidden;
}

.navigation {
  width: 100vw;
  height: 48px;
  margin: 40px auto 0;
  padding: 0 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 1068px) {
  .navigation {
    padding: 0 40px;
  }
}
.navigation__logo {
  width: 48px;
}
.navigation__menu {
  width: 32px;
  height: 32px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  position: relative;
  height: 680px;
  width: 100vw;
}
@media (width <= 940px) {
  .welcome {
    height: unset;
  }
}
.welcome__container {
  width: 100vw;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
@media (width <= 1068px) {
  .welcome__container {
    max-width: 940px;
  }
}
.welcome__bg {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(to top, rgba(152, 195, 232, 0.2), rgba(152, 195, 232, 0));
}
.welcome__box {
  width: 520px;
  position: relative;
  z-index: 3;
  padding-top: 101px;
}
@media (width <= 1068px) {
  .welcome__box {
    padding-left: 30px;
  }
}
@media (width <= 940px) {
  .welcome__box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 40px;
  }
}
.welcome__title {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: Galien, sans-serif;
  color: #1F3F68;
}
@media (width <= 940px) {
  .welcome__title {
    text-align: center;
    max-width: 600px;
  }
}
@media (width <= 550px) {
  .welcome__title {
    font-size: 32px;
    max-width: 300px;
  }
}
.welcome__subtitle {
  width: 425px;
  font-size: 16px;
  padding-top: 32px;
  padding-bottom: 71px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: rgba(31, 63, 104, 0.6);
  font-family: Gilroy-Regular, sans-serif;
}
@media (width <= 940px) {
  .welcome__subtitle {
    text-align: center;
    width: unset;
    max-width: 80%;
  }
}
@media (width <= 550px) {
  .welcome__subtitle {
    max-width: 300px;
    font-size: 14px;
  }
}
.welcome__button {
  width: 220px;
  height: 56px;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  color: #FFF;
  background: #5A98D0;
  font-family: Gilroy-Regular, sans-serif;
}
@media (max-width: 360px) {
  .welcome__button {
    width: 100%;
  }
}
.welcome__baner {
  position: absolute;
  top: 11px;
  right: -190px;
  z-index: 2;
}
@media (width <= 1068px) {
  .welcome__baner {
    right: -50px;
  }
}
@media (width <= 940px) {
  .welcome__baner {
    display: none;
  }
}

.pages {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (width <= 1068px) {
  .pages {
    width: 100vw;
  }
}
.pages__section {
  width: 100%;
  position: relative;
  z-index: 2;
}

.service {
  height: 1162px;
  margin-bottom: 212px;
  margin-top: 180px;
  position: relative;
}
@media (width <= 1068px) {
  .service {
    height: unset;
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.service__title {
  width: 365px;
  color: #316099;
  font-size: 36px;
  letter-spacing: 2px;
  position: absolute;
  top: 5px;
}
@media (width <= 1068px) {
  .service__title {
    position: static;
    padding-bottom: 80px;
    width: 500px;
    text-align: center;
  }
}
@media (width <= 600px) {
  .service__title {
    font-size: 20px;
    width: 300px;
    padding-bottom: 40px;
  }
}
.service__cards {
  display: flex;
  gap: 100px;
  height: 100%;
  justify-content: flex-end;
}
@media (width <= 1068px) {
  .service__cards {
    flex-direction: column;
    gap: 30px;
  }
}
.service__boxLeft {
  display: flex;
  align-items: center;
}
.service__boxRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (width <= 1068px) {
  .service__boxRight {
    gap: 30px;
  }
}

.card {
  width: 380px;
  height: 525px;
  border-radius: 10px;
  box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 48px 48px;
  position: relative;
}
@media (width <= 600px) {
  .card {
    padding: 0 15px 15px;
    height: 420px;
    width: unset;
  }
}
.card__content {
  width: 280px;
  height: 241px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 56px;
}
@media (width <= 600px) {
  .card__content {
    margin-top: 0;
    height: unset;
    padding-bottom: 20px;
  }
}
.card__img {
  margin-right: 15%;
}
@media (width <= 600px) {
  .card__img {
    width: 180px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}
.card__img--absolut {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-48%);
}
@media (width <= 600px) {
  .card__img--absolut {
    width: 225px;
    top: -40px;
  }
}
.card__title {
  color: #1F3F68;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2px;
}
@media (width <= 600px) {
  .card__title {
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
  }
}
.card__subtitle {
  line-height: 26px;
  color: #95a5b5;
  font-family: Gilroy-Regular, serif;
}
@media (width <= 600px) {
  .card__subtitle {
    font-size: 14px;
    text-align: center;
  }
}
.card__btn {
  padding-top: 16px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #5A98D0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 127px;
  height: 30px;
  font-family: Gilroy-SemiBold, serif;
  cursor: pointer;
}
@media (width <= 600px) {
  .card__btn {
    margin: 0 auto;
    width: 110px;
  }
}

.examples {
  color: #FFF;
  font-family: Gilroy-Regular, serif;
  position: relative;
  padding: 96px 0 125px;
  width: 100vw;
}
@media (width <= 600px) {
  .examples {
    padding: 40px 0;
  }
}
.examples__container {
  width: 100vw;
  max-width: 940px;
  margin: 0 auto;
}
.examples__bg {
  position: absolute;
  width: 100vw;
  height: 1549px;
  background: #5A98D0;
  left: 0;
  top: 0;
  border-radius: 200px 0 0;
}
@media (width <= 1068px) {
  .examples__bg {
    height: 1283px;
  }
}
@media (width <= 900px) {
  .examples__bg {
    border-radius: 100px 100px 0 0;
  }
}
@media (width <= 800px) {
  .examples__bg {
    height: 1533px;
  }
}
@media (width <= 600px) {
  .examples__bg {
    height: 650px;
  }
}
.examples__top {
  display: flex;
  align-items: center;
  gap: 97px;
  position: relative;
  z-index: 2;
  margin-bottom: 111px;
}
@media (width <= 1068px) {
  .examples__top {
    flex-direction: column;
    gap: 40px;
  }
}
@media (width <= 1068px) {
  .examples__top {
    margin-bottom: 60px;
  }
}
.examples__title {
  line-height: 46px;
  font-size: 36px;
  min-width: 233px;
  font-family: Gilroy-SemiBold, sans-serif;
  letter-spacing: 2px;
}
@media (width <= 1068px) {
  .examples__title {
    font-size: 20px;
  }
}
.examples__subtitle {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
}
@media (width <= 1068px) {
  .examples__subtitle {
    max-width: 800px;
    text-align: center;
    padding: 0 20px;
  }
}
@media (width <= 1068px) {
  .examples__subtitle {
    font-size: 14px;
  }
}
.examples__table {
  table-layout: fixed;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media (width <= 900px) {
  .examples__table {
    padding: 0 20px;
  }
}
.examples__line {
  display: flex;
}
.examples__line:not(:last-child) .examples__item {
  border-bottom: 1px solid #9cc1e3;
}
.examples__item {
  width: 25%;
  height: 128px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Gilroy-SemiBold, sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
}
.examples__item:not(:last-child) {
  border-right: 1px solid #9cc1e3;
}
.examples__item--more {
  background: rgba(31, 63, 104, 0.2);
}
@media (width <= 1068px) {
  .examples__item {
    font-size: 14px;
    height: 80px;
  }
}
@media (width <= 600px) {
  .examples__item {
    font-size: 10px;
  }
}
.examples__link {
  color: #FFF;
}

.cooperation {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100vw;
  z-index: 2;
}
.cooperation__bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 90vw;
  height: 865px;
  background: #316099;
  border-radius: 0 200px 0 0;
}
@media (width <= 1068px) {
  .cooperation__bg {
    height: 700px;
  }
}
@media (width <= 900px) {
  .cooperation__bg {
    border-radius: 0 100px 0 0;
  }
}
@media (width <= 800px) {
  .cooperation__bg {
    height: 950px;
  }
}
@media (width <= 600px) {
  .cooperation__bg {
    width: 100vw;
    border-radius: 100px 100px 0 0;
  }
}
.cooperation__box {
  width: 100vw;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 96px;
}
@media (width <= 1068px) {
  .cooperation__box {
    flex-direction: column;
    padding: 40px 0 0;
  }
}
.cooperation__text {
  height: 204px;
  width: 465px;
}
@media (width <= 1068px) {
  .cooperation__text {
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
    height: unset;
  }
}
@media (width <= 600px) {
  .cooperation__text {
    padding: 0;
  }
}
.cooperation__title {
  font-size: 36px;
  line-height: 46px;
  width: 360px;
  color: #FFF;
  padding-bottom: 32px;
}
@media (width <= 1068px) {
  .cooperation__title {
    text-align: center;
    width: 70%;
  }
}
@media (width <= 600px) {
  .cooperation__title {
    font-size: 20px;
  }
}
.cooperation__subtitle {
  font-size: 16px;
  line-height: 26px;
  color: #adbfd6;
  letter-spacing: 1px;
  font-family: Gilroy-Regular, serif;
}
@media (width <= 1068px) {
  .cooperation__subtitle {
    text-align: center;
    width: 70%;
    font-size: 14px;
  }
}
.cooperation__btn {
  font-size: 16px;
  line-height: 26px;
  width: 220px;
  height: 56px;
  color: #FFF;
  background: #5A98D0;
  letter-spacing: 1px;
  margin-right: 80px;
  font-family: Gilroy-Regular, serif;
  border-radius: 10px;
}
@media (width <= 1068px) {
  .cooperation__btn {
    width: 50%;
    margin: 40px 40px 40px 0;
  }
}
@media (width <= 600px) {
  .cooperation__btn {
    margin-right: 0;
    width: 90%;
  }
}
.cooperation::after {
  content: "";
  width: 78.55%;
  height: 1px;
  background: #83a0c2;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (width <= 600px) {
  .cooperation::after {
    width: 100vw;
  }
}

.footer {
  width: 950px;
  margin: 0 auto;
  color: #FFF;
  display: flex;
  position: relative;
  z-index: 2;
  padding-top: 96px;
}
@media (width <= 1068px) {
  .footer {
    padding: 45px 60px 0;
    width: unset;
  }
}
@media (width <= 800px) {
  .footer {
    padding: 45px 0 0;
    margin: 0;
    width: 90%;
    flex-direction: column-reverse;
    gap: 40px;
  }
}
@media (width <= 450px) {
  .footer {
    width: 100%;
    background: #316099;
    padding: 45px 0;
  }
}
.footer__logo {
  display: flex;
  gap: 15px;
  padding-bottom: 31px;
}
.footer__array {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 300px;
}
.footer__title {
  font-size: 28px;
  letter-spacing: 1px;
}
.footer__item {
  font-size: 16px;
  font-family: Gilroy-Regular, serif;
  display: flex;
  gap: 16px;
}
.footer__copyright {
  font-family: Gilroy-Regular, serif;
  padding-top: 64px;
  color: #83a0c2;
  letter-spacing: 1px;
}
@media (width <= 800px) {
  .footer__info {
    padding-left: 40px;
  }
}
.footer__text {
  color: white;
}
.footer__text--abb {
  font-family: Gilroy-SemiBold, serif;
}

.menu {
  display: flex;
  gap: 77px;
  padding-left: 100px;
}
@media (width <= 1068px) {
  .menu {
    gap: 40px;
    padding: 0 0 40px;
  }
}
@media (width <= 900px) {
  .menu {
    padding: 0 40px;
    justify-content: space-between;
  }
}
.menu__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (width <= 600px) {
  .menu__box {
    white-space: nowrap;
  }
  .menu__box:first-child {
    text-align: left;
  }
  .menu__box:last-child {
    text-align: right;
  }
}
.menu__title {
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 15px;
}
.menu__link {
  color: #FFF;
  font-family: Gilroy-Regular, serif;
  font-size: 16px;
  letter-spacing: 2px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
.modal__visible {
  opacity: 1;
  pointer-events: all;
}
.modal__form, .modal__success {
  display: none;
}
.modal__form--visible, .modal__success--visible {
  display: block;
}
.modal__blackbox {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal__message {
  font-size: 24px;
  padding: 30px 0;
  text-align: center;
}
.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 56px;
  border-radius: 10px;
  width: 540px;
}
@media (width <= 580px) {
  .modal__container {
    height: 100%;
    width: 100%;
    border-radius: unset;
    overflow-y: scroll;
    padding: 24px;
  }
}
.modal__title {
  font-size: 20px;
  letter-spacing: 1px;
  color: #1F3F68;
  padding-bottom: 48px;
}
.modal__blok {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal__label {
  display: block;
  letter-spacing: 1px;
  padding-top: 32px;
  padding-bottom: 16px;
  color: #4c6586;
  font-family: Gilroy-Regular, sans-serif;
}
.modal__input {
  border: 1px solid #e3eef6;
  width: 100%;
  height: 72px;
  border-radius: 10px;
  padding-left: 36px;
  font-family: Gilroy-Regular, sans-serif;
}
.modal__input:focus-visible {
  outline: 1px solid #4c6586;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  transition: all 0.2s ease-in-out;
}
.modal__close:hover {
  opacity: 0.5;
}
.modal__area {
  height: 144px;
  resize: none;
  padding-top: 21px;
}
.modal__input::placeholder, .modal__area::placeholder {
  color: rgba(31, 63, 104, 0.2);
}
.modal__submit {
  font-size: 16px;
  background: #5A98D0;
  color: #FFF;
  width: 100%;
  height: 72px;
  border-radius: 10px;
  letter-spacing: 1px;
  margin-top: 72px;
  box-shadow: 0 10px 20px 0 rgba(16, 112, 177, 0.2);
}
.modal__submit:focus-visible {
  outline: 1px solid #4c6586;
}
@media (width <= 580px) {
  .modal__success--visible {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
