.navigation {
    width: 100vw;
    height: 48px;
    margin: 40px auto 0;
    padding: 0 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (width <= 1068px) {
        padding: 0 40px;
    }

    &__logo {
        width: 48px;
    }

    &__menu {
        width: 32px;
        height: 32px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
