.pages {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width <= 1068px) {
        width: 100vw;
    }

    &__section {
        width: 100%;
        position: relative;
        z-index: 2;
    }
}
