.service{
    height: 1162px;
    margin-bottom: 212px;
    margin-top: 180px;
    position: relative;

    @media (width <= 1068px) {
        height: unset;
        margin-top: 60px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        width: 365px;
        color: #316099;
        font-size: 36px;
        letter-spacing: 2px;
        position: absolute;
        top: 5px;

        @media (width <= 1068px) {
            position: static;
            padding-bottom: 80px;
            width: 500px;
            text-align: center;
        }

        @media (width <= 600px) {
            font-size: 20px;
            width: 300px;
            padding-bottom: 40px;
        }
    }

    &__cards {
        display: flex;
        gap: 100px;
        height: 100%;
        justify-content: flex-end;

        @media (width <= 1068px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__boxLeft {
        display: flex;
        align-items: center;
    }

    &__boxRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (width <= 1068px) {
            gap: 30px;
        }
    }
}
