.service{
    height: 1162px;
    margin-bottom: 212px;
    margin-top: 180px;
    position: relative;
    //overflow: hidden;

    @media (width <= 1068px) {
        height: unset;
        margin-top: 60px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        width: 365px;
        color: var(--deep-blue);
        font-size: 36px;
        letter-spacing: 2px;
        position: absolute;
        top: 5px;

        @media (width <= 1068px) {
            position: static;
            padding-bottom: 80px;
            width: 500px;
            text-align: center;
        }

        @media (width <= 600px) {
            font-size: 20px;
            width: 300px;
            padding-bottom: 40px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-wrap: wrap-reverse;
        align-content: flex-start;
        justify-content: center;
        gap: 100px 100px;

        @media (width <= 1068px) {
            gap: 30px;
        }
    }
}
